.td {
    padding: 10px 20px;
    background: #F8E391;
    }
    .tr:last-child .td:first-child {
    border-radius: 0 0 0 10px;
    }
    .tr:last-child .td:last-child {
    border-radius: 0 0 10px 0;
    }
    .tr td:last-child {
    border-right: none;
    }